@mixin row-centered-form {
	div.form-wrapper {
		margin: 0 33% 88px 33%;

		h3 {
			font-family: $mainFont;
			text-align: center;
		}

		form.centered-form {
			select {
		    width: 100%;
		    height: 35px;
			}

			div.input-wrapper {
				margin: 13px 0;
				label {
					font-family: $mainFont;
				}

				input {
			    width: 100%;
			    height: 32px;
			    border-radius: 3px;
			    border: 1px solid $mainBlue;
			    margin-top: 8px;
				}
			}

			input[type="submit"] {
				width: 100%;
		    background: $mainBlue;
		    font-size: 1.2em;
		    color: $almostWhite;
		    border-radius: 3px;
		    border: 0;
		    padding: 4px 0;
		    margin-top: 16px;
			}
		}
	}
}


@mixin three-column-frames {
	div.available-records {
		@include outer-container;
		font-family: $mainFont;
		h2 {
			text-align: center;
		}

		div.record-container {
			@include span-columns(4);
			@include omega();
			padding: 0 15px;

			p.record-name {

			}

			div.image-wrapper {
				border: 1px solid $mainBlue;
		    padding: 4px;
		    border-radius: 3px;
				img.record-images {
					height: 270px;
			    width: 100%;
			    border-radius: 3px;
				}
			}

			div.record-description {

			}
		}
	}
}