@import 'bourbon/bourbon';
@import 'neat/neat';

body {
	background: beige;
	margin: 0;
	height: 100vh;
	width: 100vw;

	div#app {
		height: 100vh;
		div.main-container {
			div.inner-wrapper {
				background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-100420.jpg');
				background-size: cover;
				height: 480px;

				nav.navbar {
					padding-top: 15px;

				  div.nav-inner-wrapper {
				  	@include outer-container;

						div.workers-nav {
							@include span-columns(6);
							padding-left: 3%;

							span {
								background: blue;
    						padding: 5px 24px;
    						border-radius: 5px;
    						margin: 0 8px;
								a {
									text-decoration: none;
									color: white;
								}
							}
						}

						div.tourist-nav {
							@include span-columns(6);
							text-align: right;
							padding-right: 3%;

							span {
								background: blue;
    						padding: 5px 24px;
    						border-radius: 5px;
    						margin: 0 8px;
								a {
									text-decoration: none;
									color: white;
								}
							}
						}
				  }
				}

				div.logo-wrapper {
					text-align: center;
					img {
						width: 480px;
					}
				}
			}
 		}
	}
}