/*NAVIGATION*/
span#navItem {
  margin-top: 20px;
  margin-right: 10px;
}
img#saviLogo {
  float: left;
  max-width: 100px;
  max-height: 100px;
}

/*CITIES*/
img#cityImgs {
  max-height: 200px;
  max-width: 200px;
  border: solid 5px;
}

/*TOURS*/
img#tourImgs {
  max-height: 200px;
  max-width: 200px;
  border: solid 5px;
}

