/*NAVIGATION*/
img#saviLogo {
  max-width: 200px;
  max-height: 200px;
}
span#navItem {
  margin: 20px;
}

/*CITIES*/
img#cityImgs {
  max-height: 200px;
  max-width: 200px;
  border: solid 5px;
}

/*TOURS*/
img#tourImgs {
  max-height: 200px;
  max-width: 200px;
  border: solid 5px;
}

